{% macro about() %}
 <div class="user-details">
  <h1> my expertise </h1>
  <p> {{ config.extra.user_description | safe }} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>frontend</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>{{ config.extra.frontend_description | safe }}</p>
    </div>
    <div class="tech">
      <h2>backend</h2>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>{{ config.extra.backend_description | safe }}</p>
    </div>
    <div class="tech">
      <h2>tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-intellij-plain colored"></i>
      <p>{{ config.extra.tools_description | safe }}</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ config.extra.project1_img }}" />
  </div>
  <div class="contents">
      <h3> {{ config.extra.project1_title | safe }} </h3>
    <p> {{ config.extra.project1_description | safe }} </p>
    <a class="project-link" href="{{ config.extra.project1_link }}" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ config.extra.project2_img }}" />
  </div>
  <div class="contents-right">
      <h3> {{ config.extra.project2_title | safe }} </h3>
    <p> {{ config.extra.project2_description | safe }} </p>
    <a class="project-link" href="{{ config.extra.project2_link }}" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ config.extra.project3_img }}" />
  </div>
  <div class="contents">
      <h3> {{ config.extra.project3_title | safe }} </h3>
    <p> {{ config.extra.project3_description | safe }} </p>
    <a class="project-link" href="{{ config.extra.project3_link }}" target="_blank">Check it out</a>
  </div>
</div>
{% endmacro projects %}

